#input{
    width: 215px;
}
input:focus{
    border:2px solid green;
}
.test-label{
    display: flex;
    flex-direction:column;
    color: blueviolet;
}
.span-price{
    position: relative;
    padding-right: 20px;
    font-size: 20px;
    border: 1px solid rgb(255, 145, 0);
    border-radius: 5px;
    width:200px;
    
}
.btn{
    position: absolute;
    width:20px;
    height: 20px;
    text-align: center;
    background-color: blueviolet;
    color: cornsilk;
    margin-left: 15px;
    margin-top: 1px;
    padding-left: 5px;
    
}
.d-none{
    display: none;
}
.error-mess{
    color:red;
    font-size: 15px;
    text-transform: uppercase;
}